.baner{
    height: 448px;
    position: relative;
    object-fit: contain;
    color: white;
}

.baner_contents{
    margin-left: 20px;
    float: left;
    padding-top: 140px;
    height: 190px;
}
.baner_title{
    font-size: 3rem;
    font-weight: 800px;
    padding-bottom: 0.3rem;
}
.baner_discrp{
    font-size: 0.9rem;
    max-width: 360px;
    padding-top: 1rem;
    height: 100px;
}

/* .baner_foot{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
} */

.baner_btn{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.baner_btn:hover{
    color: black;
    background-color: whitesmoke;
    transition: all 0.2sj;
}